@import './../../css/lib';

.rank-answers-container{
    width: 100%;
    display: flex;
}
.rank-input{
    display: flex;
    padding: 5px 20px;
    @media screen and (max-width: 768px){
        margin: 0 auto;
    }
    @media screen and (max-width: 495px){
        padding: 5px 5px;
    }

    &-elem {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 50px;
        font-size: 28px;
        margin-right: 15px;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;

        @include rank-elem-bg();
        
        @media screen and (max-width: 768px){
            font-size: 24px;
            width: 70px;
            height: 45px;
        }
        @media screen and (max-width: 495px){
            font-size: 22px;
            width: 60px;
            height: 40px;
            margin-right: 10px;
        }
        @media screen and (max-width: 395px){
            font-size: 22px;
            width: 55px;
            height: 40px;
            margin-right: 7px;
        }
        
    }
}