@import './../../css/lib';

.App {
    width: 100%;
    // height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
}


.sidebar{
    width: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: 100vh !important;
}

.app-container{
    display: block;
    width: 100%;
    .app{
        width: 100%;
        height: 100%;
        padding: 30px;
        // box-shadow: 5px 5px 5px black;
    }
}

// GLOBAL RULES
html, body{
    font-size: 14px;
    a{
        @include default-link(#000);
    }
}

.title{
    font-family: 'Poppins Medium';
    font-size: 24px;
}
