@import './../../css/lib';
.App, body{
    width: 100%;
    height: 100vh;
    // background: #454545;
    background: #eee;
    overflow: hidden;
    @media screen and (min-width: 768px){
        background: #000;
    }
}

.full-wh{
    height: 100%;
    width: 100%;
}
.bgBlack{
    background-color: #000;
}