@mixin flex-center(){
    display: flex;
    align-items: center;
    justify-content: center;

}
@mixin btn-default($bgcolor, $textColor, $radius: 7px){
    border: 0;
    outline: 0;
    border-radius: $radius;
    background: $bgcolor;
    color: $textColor;
}

@mixin dnone-on-big-screen($size: 768px){
    @media screen and (min-width: $size){
        display: none;
    }
}