$main-color: #884592;
$main-color-hover: darken($main-color, 5%);
$rank-item-bg: #FCF2C8;
$rank-item-bg-active: darken($rank-item-bg, 10%);
$success-color: #94C020;
$danger-color: #F3A129;
$error-color: #E6332A;
$main: #9B4593;